<div class="small-container single-product">
  <div class="row">
    <div class="col-2">
      <img src="<%= item.image %>">
    </div>
    <div class="col-2">
      <h2><%= item.title %> </h3>
        <h4><%= item.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %> </h4>
        <% if(item.status == 'het'){ %>
        <span>( Tạm hết hàng )</span>
        <% }else{ %>
        <a data-product="<%= JSON.stringify(item)%>" class="btn-1 btn add-to-cart">Thêm sản phẩm</a>
        <% } %>
        <h3>Mô tả sản phẩm</h3><br>
        <p><%= item.description %></p>
    </div>
  </div>
</div>


<div class="small-container">
  <h2>Nhận xét của khách hàng</h2>
  <% if(messages.error){ %>
    <span><%= messages.error  %></span>
  <% }else{ %>  
    <% records.forEach(comment=>{ %>
  <div class="comment">
    <b class="comment-customer"><%= comment.customerId.name %></b>
    <div class="comment-date">(Nhận xét vào ngày <%= moment(comment.createdAt).format('MM/DD/YYYY') %>)</div>
    <div class="comment-content">
      <%= comment.content %> 
    </div>
   
  </div>
  <% }); %>
  <div class="page-btn">
    <% if(page>1){ %>
    <a href="?page=<%= page-1 %>">&laquo;</a>
    <% } %>
    <% for(let i = 1; i <= totalPages; i++){ %>
    <% if(i != page){ %>
    <% if(i>page-3&&i<page+3){ %>
    <a href="?page=<%= i %>"><%= i %></a>
    <% } %>
    <% }else{ %>
    <a href=""><%= i %></a>
    <% } %>
    <% } %>
    <% if(page<totalPages-2){ %>
    <a href="?page=<%= page+1 %>">&raquo;</a>
    <% } %>
  </div>
  <% } %> 
</div> 